.home {
    padding: 100px;

    .tile {
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 25px;
        padding: 10px;
        display: inline-block;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;

        span {
            //padding: 20px;
        }

        .tile-inner {
            height: 100%;
            width: 100%;
        }
    }
}