<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-click="goHome()">
                <div>
                    <img src="Images/logo.png" />
                    <span>Arch Dental</span>
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" ng-if="!isLoggedIn()">
                <li class="divider-vertical"></li>
                <li>
                    <a ng-click="register()"><i class="fa fa-cogs"></i>&nbsp Register</a>
                </li>
                <li ng-if="settings.AdminExists">
                    <a ng-click="login()"><i class="fa fa-user"></i>&nbsp Log In</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn()">
                <li class="divider-vertical"></li>
                <li>
                    <a ng-click="goHome()">
                        <i class="fa fa-user"></i>
                        <span>{{getName()}}</span>
                    </a>
                </li>
                <li>
                    <a ng-click="logout()">
                        &nbsp Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>