@import url('../Content/font-awesome');
@import url('../Content/bootstrap/bootstrap');
@import url('../Content/toastr'); 

@import url('../app/home/home');
@import url('../app/home/appointment/appointment');
@import url('../app/home/billing/billing');
@import url('../app/home/people/people');
@import url('../app/home/clinics/clinics');
@import url('../app/home/clinics/provider/provider');
@import url('../app/home/clinics/room/room');
@import url('../app/home/clinics/service/service');
@import url('../app/home/profile/profile');
@import url('../app/home/profile/profileModal');
@import url('../app/home/qualifications/qualifications');
@import url('../app/home/qualifications/qualification/qualification');
@import url('../app/home/reports/reports');
  
@headerHeight: 50px;
@titleHeight: 50px;
@sidebarWidth: 200px;
@sidebarPadding: 20px;
 
body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white !important;

    input.ng-invalid { 
        border: 1px #d9534f solid !important;
    }

    .main-view {
        height: 100%;
        width: 100%;
    }

    .modal-backdrop {
        display: none !important;
    }

    .navbar {
        margin-bottom: 0 !important;
        background-color: white;

        img {
            height: 30px;
            cursor: pointer;
        } 

        a {
            cursor: pointer;
        }
    }

    .page-title {
        padding: 5px;
        position: absolute;
        top: 0;
        left: @sidebarPadding;
        right: 0;
        height: @titleHeight;
    }

    .panel-body {
        padding: 0 !important;
    }

    .sidebar {
        padding: @sidebarPadding 0;
        position: absolute;
        top: @titleHeight;
        left: @sidebarPadding;
        width: @sidebarWidth;
        bottom: 0;
    }

    .sidebar-sibling {
        padding: 0 0 @sidebarPadding @sidebarPadding;
        margin: @sidebarPadding;
        position: absolute;
        top: @titleHeight;
        left: @sidebarWidth;
        right: 0;
        bottom: 0;
    }

    .content {
        position: fixed;
        top: @headerHeight;
        bottom: 0;
        right: 0;
        left: 0;
        overflow-y: auto;
    }
    
    .borderless {
        border: none !important;
        border-color: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .navbar .divider-vertical {
        height: 50px;
        margin: 0 9px;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #f2f2f2;
    }

    .navbar-inverse .divider-vertical {
        border-right-color: #222222;
        border-left-color: #111111;
    }

    @media (max-width: 767px) {
        .navbar-collapse .nav > .divider-vertical {
            display: none;
         }
    }

    .dropdown {
        button {
            width: 100%;

            span.message {
                float: left;
            }

            span.caret {
                float: right;
            }
        }       
    }

    label.required:after {
        content: "*";
        color: red;
    }

    .table {
        margin-bottom: 0 !important; 
    }

    .table-empty {
        padding: 10px;
    }

    .panel-footer.button {
        cursor: pointer;
    }

    .page-wrapper {
        height: 100%;
        width: 100%;

        .banner {
            width: 100%;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
            color: white;
            font-weight: 500;
            font-size: 24px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.6);

            .btn {
                margin-right: 20px;
                float: right;
                width: 150px;
            }
        }

        .sub-banner {
            width: 100%;
            padding: 5px;
            border-bottom: 1px solid #e7e7e7;
            background-color: rgba(23,97,142,0.1);
        }

        .page-content {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            display: table;

            .red {
                color: #d9534f;
            }

            .table-btn {
                cursor: pointer;
            }

            .page-content-left {
                width: 250px;
                height: 100%;
                display: table-cell;
                vertical-align: top;
                background: rgba(0, 0, 0, 0.6);

                .page-content-left-tab {
                    width: 100%;
                    border-bottom: 1px solid #e7e7e7;
                    text-transform: uppercase;
                    color: white;
                    padding: 10px;
                    cursor: pointer;

                    span {
                        font-size: 1.2em;
                        margin-left: 10px;
                    }

                    .fa-exclamation-triangle {
                        color: #d9534f;
                        float: right;
                    }

                    &.active {
                        background-color: lightseagreen !important;
                    }

                    &:hover {
                        background-color: lightseagreen !important;
                    }
                }
            } 

            .page-content-right {
                height: calc(~"100% - 180px");
                overflow-y: auto;
                padding: 30px;
                
                &.is-modal {
                    height: inherit !important;
                    overflow-y: inherit !important;
                    display: table-cell;
                }
            }
        }
    }

    margin: 0;
    background-color: #EDEFED;
} 